body, p, h1, h2 , h3 {
    border: 0;
    padding: 0;
    margin: 0;
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-color: #666F89;
    padding: 0 10px;
    overflow: hidden;
}

#main {
    padding: 50px 100px;
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

#main .separator{
    margin: 30px 0;
    min-height: 1px;
}

div {
    box-sizing: border-box;
    border-radius: 6px;
    font-family: "Titillium Web","Varela Round", sans-serif;
}
.separator {
    height: 1px;
    background-color: white;
    width: 40%;
}
.header {
    /* background-color: #F2BC79;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
    padding: 20px;
    width: 90%;
    margin: auto;
    box-shadow: 0 20px 30px -10px rgba(0,0,0,.2), 30px 20px 50px -7px rgba(0,0,0,.4); */
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
}

#links {
    display: flex;
    flex-direction: row;
    min-width: 15%;
    justify-content: space-evenly;
    font-size: 27px;
}
#links i {
    transition: filter 0.3s;
}
#links i:hover {
    filter: brightness(80%);
}

.hidden {
    opacity: 0;
    z-index: -1;
}

#burger-and-name {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

#burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 25px
}
#burger div {
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 3px 0;
}
#burger:hover {
    cursor: pointer;
}

#pic-bio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#short-bio {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 270px;
    font-size: 18px;
}

#pfp {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
}

.sub-header h1{
    /* display: inline;
    vertical-align: baseline; */
    font-size: 28px;
    line-height: 28px;    
    height: 28px;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.sub-header h1 {
    font-weight: bold;
}

.sub-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}

#connect {
    display: flex;
    margin-top: 30px;
}

.button {
    border-radius: 5%;
    background-color:#3D4252;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 17px;
    transition: filter 0.3s;
}
.button:hover {
    cursor: pointer;
    filter: brightness(90%)
}

#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#projects-section .separator {
    justify-self: center;
    margin: 25px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.project-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: block;
}

.project-img {
    width:100%;
    border-radius: 10px;
    opacity: 0.88;
    transition: opacity 0.5s;
}
.project-item:hover .project-img {
    opacity: 0.65;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #2e5dd5cc; */
    background-color:#3D4252;
    font-size: 25px;
    padding: 3px 10px;
}